<div class="text-center" id="{{bodypartSelect}}-{{ excerciseName }}-series-{{ series }}" style="width: 100%;">

   

      <form class="input-group input-group-sm mb-3 mx-auto" style="width: 80%;">

        <span class="input-group-text set" >Series [{{ series }}]</span>
        <input type="number" min="0" max="40" class="form-control"
          aria-label="Sizing example input"
          name="seriesNum"
          value="0"
          aria-describedby="inputGroup-sizing-sm">

        <span class="input-group-text" >Kg</span>

        <input type="text" class="form-control" 
          aria-label="Sizing example input" 
          name="weightNum"
          aria-describedby="inputGroup-sizing-sm">

        <button type="button" 
          class="btn btn-success" 
          id="acceptSeries"
          hx-post="/addseriesdata/{{bodypartSelect}}/{{excerciseName}}/{{series}}"
          hx-include="[name=seriesNum], [name=weightNum] "
          hx-swap="none"
          >OK</button>

        <button type="button" 
          class="btn btn-dark" 
          id="removeSeries"
          onclick="delSeries('{{bodypartSelect}}-{{ excerciseName }}-series-{{ series }}', '{{bodypartSelect}}', '{{excerciseName}}','{{series}}')"
          >X</button>
      </form>
  
</div>
